.body{
    margin: 0;
     padding: 0;
 }
 .header2{
     height: 500px;
     background-repeat: no-repeat;
     background-size: cover;
 }
   nav {
     margin-left: 150px;
     display: flex; 
     align-items: center; 
     justify-content: center;
     padding: 10px 20px;
     font-family: Arial, sans-serif;
     color: #333; 
     justify-content: center;
     width: 90%;
   }
   
   nav .image2 {
     display: flex; 
     align-items: center;
     margin-right: 600px;
   }
   nav .image2 h1 {
     margin-left: 5px; 
     font-size: 24px;
     color: white;
   }
   
   nav ul {
     list-style: none; 
     display: flex; 
     margin: 0;
     padding: 0;
     gap: 20px; 
     align-items: center;
     margin-left: 20px; 
   }
   
   nav ul li {
     cursor: pointer;
     font-size: 20px;
     transition: color 0.3s ease;
     color: white;
   }
   
   nav ul li:hover {
     color: white;
   }
  .text2 h1{
     text-align: center;
     padding-top: 170px;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     font-size: 5rem;
     font-weight: bold;
     color: white;
     margin-top: -100px;
     

  } 
  .text2 p{
     text-align: center;   
     padding-top: 30px;
     margin-left: auto;
     margin-right: auto;
     font-size: 25px;
     font-weight: light;
     color: white;
     margin-bottom: -140px;
  } 
  .text2 h4{
     text-align: center;   
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: 900px;
     margin-right: 900px;
     font-size: 17px;
     font-weight: bold;
     background-color: #FF0E47;
     color: white;
  } 
  
   
   