* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containert {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.tags-section {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 5px solid #ddd;
}

.tags-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #111827;
}

.tags-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 1rem; 
  justify-content: flex-start; 
}

.tag {
  display: inline-block;
  padding: 0.5rem 1rem; 
  border-radius: 0.375rem; 
  font-size: 0.875rem; 
  background-color: white;
  border: 1px solid #e5e7eb; 
  color: #FF0E47;
  cursor: pointer; 
  transition: all 0.2s ease; 
  white-space: nowrap;
}

.tag:hover {
  border-color: #FF0E47;
  background-color: #FF0E47;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .tags-container {
      justify-content: center; 
  }
}

@media (max-width: 480px) {
  .tags-section {
      padding: 1.5rem;
  }
}
