body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  display: flex;
  gap: 20px;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5px;
  margin-bottom: 30px;
  background-color: aqua;
}

.left-columnf {
  flex: 7.5;
  padding: 5px;
  background-color: black;
}

.right-columnf {
  flex: 2.5;
  padding: 5px;
  border-radius: 8px;
  background-color: brown;
}
