body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  height: 100vh;
  width: 100wh;
}
.container_p {
  display: flex;
  gap: 30px;
  width: 75%;
  justify-content: center;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}
.left-column {
  flex: 7.5; 
  padding: 5px;
  border-radius: 8px;
}

.right-column {
  flex: 2.5; 
  padding: 5px;
  border-radius: 8px;
}
Route{
  margin: 0;
}